:host {
    display: block;
    padding: 20px;

    ::ng-deep {
        .mat-mdc-dialog-actions {
            gap: 10px;
        }
    }
}

.product {
    &__form-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}