<mat-form-field class="form__controll" floatLabel="always">
  <mat-label>{{ label() | titlecase }}</mat-label>
  <input
    type="text"
    [placeholder]="placeholder()"
    matInput
    [formControl]="formControl()"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [hideSingleSelectionIndicator]="true"
    [displayWith]="displayLabelFn"
  >
    @for (option of filterOptions$ | async; track option.id) {
    <mat-option [value]="option.id" class="form__option">
      <div class="form__option">
        <span class="form__option-name">{{ option.name }}</span>
        @if(removableOptions()) {
        <button
          matIconButton
          (click)="$event.stopPropagation(); onRemoveOption(option.id)"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </div>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
